.main {
  position: relative;
  margin: 0 auto;
  background-color: antiquewhite;
}
.dataWrapper {
  position: relative;
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: center;
}
.myB {
  color: #8493e7;
}
